/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE     0
#define LOWER    1
#define MEDIA    2
#define NAV      3
#define NUMBERS  4
#define FKEYS    5
#define BT       6
#define MOUSE    7
#define TIMEOUT_MS 20

&mt {
    tapping-term-ms = <125>;
};

/ {
    combos {
        compatible = "zmk,combos";

        combo_boot {
            timeout-ms = <TIMEOUT_MS>;
            key-positions = <4 5 6 7>;
            bindings = <&bootloader>;
        };

        combo_bt {
            timeout-ms = <TIMEOUT_MS>;
            key-positions = <49 56>;
            bindings = <&mo BT>;
        };

        /* ---- right hand mod-combos (J K L / I U O) ---- */
        combo_r_ctrl {
            timeout-ms = <TIMEOUT_MS>;
            key-positions = <32 33>;        /* J K */
            bindings = <&kp LCTRL>;
        };
        combo_r_alt {
            timeout-ms = <TIMEOUT_MS>;
            key-positions = <33 34>;        /* K L */
            bindings = <&kp LALT>;
        };
        combo_r_shift {
            timeout-ms = <TIMEOUT_MS>;
            key-positions = <32 34>;        /* J L */
            bindings = <&kp LSHIFT>;
        };
        combo_r_ctrl_alt {
            timeout-ms = <TIMEOUT_MS>;
            key-positions = <32 33 34>;     /* J K L */
            bindings = <&kp LC(LALT)>;
        };
        combo_r_ctrl_shift {
            timeout-ms = <TIMEOUT_MS>;
            key-positions = <19 20>;        /* U I */
            bindings = <&kp LC(LSHIFT)>;
        };
        combo_r_alt_shift {
            timeout-ms = <TIMEOUT_MS>;
            key-positions = <20 21>;        /* I O */
            bindings = <&kp LA(LSHIFT)>;
        };
        combo_r_ctrl_alt_shift {
            timeout-ms = <TIMEOUT_MS>;
            key-positions = <19 20 21>;     /* U I O */
            bindings = <&kp LC(LA(LSHIFT))>;
        };

        /* ---- left hand mod-combos (S D F / W E R) ---- */
        combo_l_ctrl {
            timeout-ms = <TIMEOUT_MS>;
            key-positions = <27 28>;        /* D F */
            bindings = <&kp LCTRL>;
        };
        combo_l_alt {
            timeout-ms = <TIMEOUT_MS>;
            key-positions = <26 27>;        /* S D */
            bindings = <&kp LALT>;
        };
        combo_l_shift {
            timeout-ms = <TIMEOUT_MS>;
            key-positions = <26 28>;        /* S F */
            bindings = <&kp LSHIFT>;
        };
        combo_l_ctrl_alt {
            timeout-ms = <TIMEOUT_MS>;
            key-positions = <26 27 28>;     /* S D F */
            bindings = <&kp LC(LALT)>;
        };
        combo_l_ctrl_shift {
            timeout-ms = <TIMEOUT_MS>;
            key-positions = <15 16>;        /* E R */
            bindings = <&kp LC(LSHIFT)>;
        };
        combo_l_alt_shift {
            timeout-ms = <TIMEOUT_MS>;
            key-positions = <14 15>;        /* W E */
            bindings = <&kp LA(LSHIFT)>;
        };
        combo_l_ctrl_alt_shift {
            timeout-ms = <TIMEOUT_MS>;
            key-positions = <14 15 16>;     /* W E R */
            bindings = <&kp LC(LA(LSHIFT))>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&kp ESC     &kp N1  &kp N2  &kp N3     &kp N4     &kp N5                                &kp N6     &kp N7    &kp N8         &kp N9    &kp N0          &kp BACKSPACE
&kp TAB     &kp Q   &kp W   &kp E      &kp R      &kp T                                 &kp Y      &kp U     &kp I          &kp O     &kp P           &kp DEL
&kp Q       &kp A   &kp S   &kp D      &kp F      &kp G            &tog MOUSE             &kp H      &kp J     &kp K          &kp L     &kp SEMI    &kp P
&kp LSHIFT  &mt LGUI Z  &kp X   &kp C      &kp V      &kp B                             &kp N      &kp M     &kp COMMA      &kp DOT  &mt LGUI SLASH  &kp ENTER
                            &kp LGUI  &lt LOWER N9  &lt NAV SPACE  &kp LSHIFT    &kp RSHIFT     &lt MEDIA ENTER   &mo NUMBERS  &kp RGUI
            >;
        };

        lower {
	    bindings = <
&none  &none      &none      &none   &none    &none                                   &none        &none    &none    &none    &none     &none
&none  &none      &none      &none   &none    &none                                   &kp ESC       &kp TILDE &none    &none    &none     &none
&none  &none      &kp LSHIFT  &kp LALT &kp LCTRL &none                 &none            &kp TAB       &kp LBKT  &kp RBKT  &kp SQT  &kp BSLH   &none
&none  &kp LGUI    &none      &none   &none    &none                                   &kp BACKSPACE &kp F4    &kp CAPS  &kp BSLH  &kp GRAVE  &none
                                &none    &none    &none     &none          &none  &kp DEL   &none  &none
            >;
        };

        media {
            bindings = <
&none  &none      &none      &none     &none    &none                         &none &none    &none    &none     &none &none
&none  &none      &none      &none     &none    &none                         &none &none    &none    &none     &none &none
&none  &kp RA(Q)   &kp RA(S)   &kp LS(N9) &kp LS(N0) &none        &none          &none &kp LCTRL &kp LALT  &kp LSHIFT &none &none
&none  &none      &none      &kp C_VOL_DN &kp C_VOL_UP &kp C_MUTE              &none    &none    &none  &none  &none  &none
                                &none    &mkp MB2    &mkp MB1  &none             &none  &kp DEL   &none  &none
            >;
        };

        nav {
            bindings = <
&kp TILDE  &kp EXCL  &kp AT   &kp HASH  &kp DLLR  &kp PRCNT                                      &kp CARET  &kp AMPS    &kp ASTRK  &kp LPAR   &kp RPAR         &kp DEL
&kp GRAVE  &kp F1    &kp F2   &kp F3    &kp F4    &kp LBKT                                       &kp RBKT   &kp RA(Y)   &kp UP     &kp RA(P)  &kp PG_UP        &kp DQT
&none     &none    &kp LSHIFT  &kp LALT  &sl FKEYS  &kp LPAR                 &none            &kp PG_DN  &kp LEFT    &kp DOWN   &kp RIGHT  &kp PG_UP        &kp INS
&none     &kp F9    &kp F10  &kp F11   &kp F12   &kp LBKT                                       &kp RBKT   &kp K_APP   &kp PSCRN  &kp SLCK   &kp PAUSE_BREAK  &none
                              &none     &none    &none     &none          &none  &none     &none  &none
            >;
        };

        numbers {
            bindings = <
&none  &none     &none  &none  &none  &none                                &none  &none      &none      &none      &none    &none
&none  &none     &kp N4  &kp N5  &kp N6  &none                             &none  &none      &none      &none      &none    &none
&none  &kp COMMA  &kp N1  &kp N2  &kp N3  &kp EQUAL        &none           &none  &kp RCTRL   &kp LALT  &kp LSHIFT  &none    &none
&none  &kp DOT    &kp N7  &kp N8  &kp N9  &kp MINUS                        &none  &none      &none      &none      &kp LGUI  &none
                              &none    &kp N0  &kp SPACE &none     &none   &none  &none  &none
            >;
        };

        fkeys {
            bindings = <
&none  &none  &none  &none    &none    &none                         &none  &none  &none   &none   &none  &none
&none  &none  &none  &none    &none    &none                         &kp F1  &kp F2  &kp F3   &kp F4   &none  &none
&none  &none  &kp LSHIFT &kp LALT  &kp LCTRL &none      &none          &kp F5  &kp F6  &kp F7   &kp F8   &none  &none
&none  &none  &none  &none    &none    &none                         &kp F9  &kp F10 &kp F11  &kp F12  &none  &none
                        &none    &none    &none  &none         &none  &none  &none  &none
            >;
        };

        blutut {
            bindings = <
&out OUT_TOG  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                            &none  &none  &none  &none  &none  &bootloader
&none         &none         &none         &none         &none         &none                                   &none  &none  &none  &none  &none  &none
&none         &none         &none         &none         &none         &none                &bt BT_CLR         &none  &none  &none  &none  &none  &none
&none         &none         &none         &none         &none         &none                                   &none  &none  &none  &none  &none  &none
                                          &none         &none         &none         &none              &none  &none  &none  &none
            >;
        };

        mouse {
            bindings = <
&none         &none         &none         &none         &none         &none                                   &none  &none  &none  &none  &none  &none
&none         &none         &none         &none         &none         &none                                   &none &msc SCRL_DOWN &mmv MOVE_UP   &msc SCRL_UP &none     &none
&none         &none         &kp LSHIFT    &kp LALT      &kp LCTRL     &none              &trans               &none &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT  &kp LSHIFT &none
&none         &none         &none         &none         &none         &none                                   &none  &none  &none  &none  &none  &none
                                          &none         &mkp MB2      &mkp MB1    &none              &none  &none  &none  &none
            >;
        };
    };



};
